body{
    background-color: rgba(145, 184, 206, 1);
}
header{
    background-color: rgba(117, 117, 117, 1);
    height: 32px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.link{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1px; 
}
.add{
    display: flex;
    flex-direction: row;
}
.add_form{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
label{
    margin-bottom: 10px;
}
input{
    width: 140px;
}
.date{
    margin-bottom: 10px;
}
.record{
    background-color: white;
    width: 400px;
    height: 185px;
    margin-bottom: 22px;
}
li{
    list-style: none;
}
#rec_info{
    margin-left: 38px;
}
.record_add{
    display: flex;
    flex-direction: column;
}
#butt{
    width: 100px;
}
.butt{
    width: 100px;
}
